{% extends 'html/layout.html' %}  <!-- or your layout file -->
{% load static %}


{% block content %}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4>{{category_name}}</h4>
        <hr style="border-color: #b8bfc2;">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collections'  %}">collections</a></li>
  </ol>
</nav>
                            {% include 'html/message.html' %}

      </div>
      <div class="row">
{% for item in products %}
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 mb-3">
          <div class="card h-100">
            <img src="{{item.product_image.url}}"  class="card-image-top mx-auto" alt="{{item.name}}" style="height: 150px; object-fit: contain;">
          <a href="{% url 'product_details' category_name item.name %}">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">
                <span class="float-start text-muted text-danger"><s>₹{{ item.original_price }}</s></span>
                <span class="float-end text-success fw-bold">₹{{item.selling_price}}</span>
              </p>
            </div>
          </a>
          </div>
        </div>
{% endfor %}
      </div>
    </div>
  </div>
</section>

    {% endblock content %}
